<div class="movie-list">
  <h1>Box-Office</h1>
  <div class="movie-list-movies">
    <div
      class="movie-list-movies-movie"
      *ngFor="let movie of discoverMovies"
      [ngStyle]="{
        'background-image':
          'url(' + 'https://image.tmdb.org/t/p/w300' + movie.poster_path + ')'
      }"
      routerLink="/movie-info/{{ movie.id }}"
    ></div>
  </div>
</div>

<div class="movie-list" *ngFor="let category of AllMovies">
  <h1>{{ category.name }}</h1>
  <div class="movie-list-movies">
    <div
      class="movie-list-movies-movie"
      *ngFor="let movie of category.movies"
      [ngStyle]="{
        'background-image':
          'url(' + 'https://image.tmdb.org/t/p/w300' + movie.poster_path + ')'
      }"
      routerLink="/movie-info/{{ movie.id }}"
    ></div>
  </div>
</div>
