.movie-details {
  height: 80vh;

  display: flex;
  flex-direction: column;

  color: #eff0f0;

  padding: 2rem;
}

.movie-details-img-wrapper {
  min-height: 60%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.movie-details-img {
  object-fit: contain;
}

.movie-details-info {
  padding-top: 2rem;
}

.movie-details-info-title {
  padding-bottom: 2rem;
  text-align: center;
}
.movie-details-info-sub-title {
  color: #868584;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.production-wrapper {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-production {
  color: #868584;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
  width: 100%;
}

.details-production-name {
  width: 100%;
  line-height: 1.8;
}

.genre-wrapper {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-genre {
  color: #868584;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
  width: 100%;
}

.details-genre-name {
  width: 100%;
  padding-right: 2rem;
}

.movie-details-info-rating {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.movie-details-description {
  font-size: 1.2rem;
}
