<div class="movie-details" *ngIf="movieInfo">
  <app-home-link class="home-link"></app-home-link>
  <div class="movie-details-img-wrapper">
    <img
      src="https://image.tmdb.org/t/p/w300{{ movieInfo.poster_path }}"
      alt="Movie Poster"
    />
  </div>
  <div class="movie-details-info">
    <h1>{{ movieInfo.title }}</h1>
    <h3>
      {{ movieInfo.tagline }}
    </h3>
    <p>
      <span class="p-title">Production Company</span>
      <span
        class="p-names"
        *ngFor="let prodCompany of movieInfo.production_companies"
        >{{ prodCompany.name }}</span
      >
    </p>
    <p>
      <span class="p-title">Genre</span>
      <span class="p-names" *ngFor="let genre of movieInfo.genres"
        >{{ genre.name }}
      </span>
    </p>
    <div class="movie-details-info-rating">
      <ngb-rating
        [(rate)]="currentRate"
        [max]="5"
        [readonly]="true"
      ></ngb-rating>
      <p>Rating: {{ currentRate ? currentRate : "Not Available" }}</p>
    </div>
  </div>
  <div class="movie-details-description">
    <span>{{ movieInfo.overview }}</span>
  </div>
</div>
