<div class="movie-details" *ngIf="movieInfo">
  <div class="movie-details-img-wrapper">
    <img
      src="https://image.tmdb.org/t/p/w300{{ movieInfo.backdrop_path }}"
      alt="movie picture"
      class="movie-details-img"
    />
  </div>
  <div class="movie-details-info">
    <h1 class="movie-details-info-title">{{ movieInfo.title }}</h1>
    <h3 class="movie-details-info-sub-title">
      {{ movieInfo.tagline }}
    </h3>
    <p class="production-wrapper">
      <span class="details-production">Production Company</span>
      <span
        class="details-production-name"
        *ngFor="let prodCompany of movieInfo.production_companies"
        >{{ prodCompany.name }}</span
      >
    </p>
    <p class="genre-wrapper">
      <span class="details-genre">Genre</span>
      <span class="details-genre-name" *ngFor="let genre of movieInfo.genres"
        >{{ genre.name }}
      </span>
    </p>
    <div class="movie-details-info-rating">Stars</div>
  </div>
  <div class="movie-details-description">
    <p>Based upon Marvel Comics' ....</p>
  </div>
</div>

<!-- 
[ngStyle]="{
  'background-image':
    'url(' + 'https://image.tmdb.org/t/p/w300' + movie.poster_path + ')'
}" -->
